<footer class="footer">
    <div class="section_container footer_container">
        <div class="footer_col">
            <div class="footer_logo">
                <a href="#" class="logo"><span>Asparsh</span>.</a>
                <p>
                    Asparsh is a digital business card platform that allows you to create and share your professional identity seamlessly. Connect with others, showcase your skills, and make a lasting impression with our innovative digital solutions.
                </p>
            </div>
        </div>
        <div class="footer_col">
            <h4>Company</h4>
            <ul class="footer_links">
                <li><a href="/help">Help/FAQ</a></li>
                <li><a href="/press">Press</a></li>
                <li><a href="/affiliates">Affiliates</a></li>
            </ul>
        </div>
        <div class="footer_col">
            <h4>Follow Us</h4>
            <ul class="footer_socials">
                <li><a href="#"><i class="ri-facebook-fill"></i></a></li>
                <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                <li><a href="#"><i class="ri-twitter-line"></i></a></li>
            </ul>
            <h5>Discover our app</h5>
            <div class="footer_discover">
                <a href="#"><img src="/assets/google-play.jpg" alt="google"></a>
                <a href="#"><img src="/assets/app-store.jpg" alt="apple"></a>
            </div>
        </div>
    </div>
    <div class="footer_bar">
        Copyright @ 2025 King. All rights reserved.
    </div>
</footer>

<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>    
<script src="/js/main.js"></script>
<script src="/js/cart.js"></script>

</body>
</html>