<% block('styles').append(`<link rel="stylesheet" href="/css/nav.css" />`) %>
<header>
        <div class="logo">
            <a href="/">
                <h3>ASPARSH</h3>
            </a>
        </div>
        <div class="nav">
            <ul class="nav-links">
                <li><a href="/home">Home</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="About">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="user-profile">
            <% if (!currentUser) { %>
                <a href="/dashboard" class="dashboard-btn">. Dashboard</a>
                <% } else { %>
                    <div class="user-dropdown" id="userDropdown">
                        <div class="user-profile-trigger" id="dropdownTrigger">
                            <img src="/assets/user-login.png" alt="User Profile"
                                style="width: 32px; height: 28px; cursor: pointer;">
                        </div>
                        <div class="user-dropdown-content" id="dropdownContent">
                            <div class="form">
                                <p class="p" style="font-weight: 600; text-align: center;">
                                    Welcome, <%= currentUser.username %>
                                </p>
                                <form action="/logout" method="GET">
                                    <button type="submit" class="button-submit" style="width: 100%;">Logout</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% } %>
        </div>
    </header>