<% block('styles').append(`<link rel="stylesheet" href="/css/hotel/hotel-header.css" />`) %>
<header>
    <div class="header-tag-line">
        <h1>delecious</h1>
        <h2>food</h2>
    </div>
    <div class="color1"></div>
    <div class="color2"></div>
    <div class="logo">
        <div class="header-logo">
            <a href="/"><img src="/assets/hotel-logo.jpg" alt="ASPARSH Logo" class="logo-image"></a>
            <div class="header-tag-lines">
                <h1>ASPARSH</h1>
                <p>our service our commitment</p>
            </div>
        </div>
        <div class="hotel-type">
            <p>Multicuisine Restaurant</p>
        </div>
    </div>
</header>