<div class="main-container">
        <div class="main-row1">
            <div class="main-image"></div>
            <div class="main-content">
                <div class="main-line">
                    <h1>
                        Make your business Innovative, Engaging and Digital
                    </h1>
                </div>
                <div class="main-text">
                    <h2>
                        We make NFC integrated QR codes for your visiting cards, digital menus, portfolios and many more.
                    </h2>
                </div>
            </div>
        </div>
        <div class="main-row2">
            <div class="main-tag-line">
                One Tap One Scan Total Digital Experience
            </div>
            <div class="main-button">
                <a href="/generate">Products</a>
            </div>
        </div>
    </div>