<div class="navbar">
        <div class="container-fluid">
            <div class="brand-name">
                <a href="/">Asparsh</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link active" href="#">Features</a>
                <a class="nav-link active" href="#">Pricing</a>
                <a class="nav-link active" aria-disabled="true">Products</a>
            </div>
            
            <div class="user-dropdown">
                <div class="user-profile-trigger">
                    <img src="/assets/user-login.png" alt="User Profile" style="width: 32px; height: 28px; cursor: pointer;">
                </div>
                
                <div class="user-dropdown-content">
                    <%- include('partials/login') %>
                </div>
            </div>
        </div>
    </div>