<div class="product-cards">
  <div class="card">
    <div class="card__shine"></div>
    <div class="card__glow"></div>
    <div class="card__content">
      <div class="card__badge">NEW</div>
      <div style="--bg-color: #a78bfa" class="card__image"></div>
      <div class="card__text">
        <p class="card__title">Business Card</p>
        <p class="card__description">
        <ul>
          <li>
            Smart Profile with elegant design
          </li>
          <li>
            QR code and NFC Facility
          </li>
          <li>
            Integrated with Google Review
          </li>
          <li>
            Add all Social Media Links at one place
          </li>
          <li>
            Easy connectivity
          </li>
        </ul>
        </p>
      </div>
      <div class="card__footer">
        <div class="card__price"> Price : ₹1199</div>
        <div class="card__button">
          <button>Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
