<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Rajdhani:wght@300;400;500;600;700&family=Syne:wght@400..800&display=swap" rel="stylesheet">
    <%- block('styles') %>
    <link rel="stylesheet" href="/css/hotel/hotel-footer.css">
    <title>Hotel Menu</title>
</head>
<body>
<%- include('../partials/hotel-header') %>
    <%- body %>
<%- include('../partials/hotel-footer') %>