<header>
    <div class="header-logo">
        <a href="/">Asparsh</a>
    </div>
    <div class="header-links">
        <a href="https://caendar.google.com" class="calender"><img src="/assets/calendar-svg.svg" alt=""></a>
        <a href="" class="messages"><img src="/assets/messages-svg.svg" alt=""></a>
        <a href="" class="notifications"><img src="/assets/notifications-svg.svg" alt=""></a>
        <div class="user-logo"><img src="/assets/admin-user-logo.jpg" alt="" style="background-color: black;"><p>User Name</p></div>
    </div>
</header>