html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 3rem;
}

main {
  height: 100%;
  padding-top: 6.5rem;
}

main > div {
  height: 100%;
}

.snap-section {
  scroll-snap-align: start;
  height: 100%;
}

#snap{
    scroll-snap-align: start;   
}