
.main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 40px;
    margin-left: 40px;
}

.main-row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.main-image {
    background-image: url(/assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;     
    height: 300px; 
    /* margin-left: 50px;   */
}

.main-line{
    font-family: sans-serif;
    font-size: 50px;
}

.main-text{
    margin-top: 10px;
}

.main-row2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.main-tag-line{
    font-family: sans-serif;
    font-size: 30px;
    margin-top: 10px;
}

.main-button{
    background-color: #362bd7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}
.main-button a{
    color: white;
    text-decoration: none;
}

