<header>
    <div class="header-tag-line">
        <h1>delecious</h1>
        <h2>food</h2>
    </div>
    <div class="color1"></div>
    <div class="color2"></div>
    <div class="logo">
        <div class="header-logo">
            <a href="/"><img src="<%= hotelLogo || '/assets/hotel-logo.jpg' %>" alt="Hotel Logo" class="logo-image"></a>
            <div class="header-tag-lines">
                <h1><%= hotelName || 'ASPARSH' %></h1>
                <p><%= hotelDescription || 'our service our commitment' %></p>
            </div>
        </div>
        <div class="hotel-type">
            <p><%= hotelType || 'Multicuisine Restaurant' %></p>
        </div>
    </div>
</header>