<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Authentication</title>
  <link rel="stylesheet" href="/public/css/users/auth.css">
</head>

<body>
  <link rel="stylesheet" href="/css/users/auth.css">

  <div class="auth-wrapper">
    <div class="reset-modal">
      <h2 class="auth-title">Set New Password</h2>
      <form method="POST" action="/reset-password-otp" style="width: 100%;">
        <input type="hidden" name="email" value="<%= email %>">
        <div class="auth-group">
          <label for="password">New Password</label>
          <input type="password" name="password" id="password" class="auth-input" required
            placeholder="Enter new password">
        </div>
        <button type="submit" class="auth-btn">Reset Password</button>
      </form>
    </div>
  </div>
</body>